<center style="margin-top:40px">
    <h1>Contact Information</h1>
    <hr>
    <div class="container">
    <table class="table table-bordered">
      <tr><td><h5>Phone Number:</h5></td><td><h5><strong>+923087256653</strong></h5></tr>
      <tr><td><h5>Address: </h5></td><td><h5><strong>Panacloud 304,Meat One Building Defence phase 5,karachi</strong></h5></td></tr>
      <tr><td><h5>Email: </h5></td><td><h5><strong>blooddonorapp@gmail.com</strong></h5></td></tr>
      <tr><td><h5>Tele: </h5></td><td><h5><strong>02112345678</strong></h5></td></tr>
    </table>
    <i style="font-family:algerian;font-size:40px">Location</i>
    <br>
    <iframe frameborder="0"  style="width:400px;height:400px;border:2px solid grey" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDQ_YowBXrKttpiLOsY1w41ArSbXsjCcG4&q=24.810743499999997,67.0437712" allowfullscreen></iframe>
    </div>
</center>
