<style>
.loader {
border: 16px solid #f3f3f3; /* Light grey */
border-top: 16px solid #3498db; /* Blue */
border-radius: 50%;
width: 120px;
height: 120px;
animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
</style>
<center style="margin-top:50px">
  <hr>
  <h1 class="alert alert-info">Please Enter Your Details</h1>
  <hr>
  <div id="errors"></div>

  <div style="margin-top:30px" class="form-group" style="margin-top:20px">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input id="username" type="text" style="width:400px" class="form-control" name="email" placeholder="Username"  required>
  </div>
<div style="margin-top:30px" class="form-group" style="margin-top:20px">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<input id="email" type="text" style="width:400px" class="form-control" name="email" placeholder="Email"  required>
</div>

<div class="form-group" style="margin-top:10px">
<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
<input id="password" type="password" style="width:400px" class="form-control" name="password" placeholder="Password"  required>
</div>
<div class="form-group" style="margin-top:20px">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input id="address" type="text" style="width:400px" class="form-control" name="email" placeholder="Address"  required>
</div>

<div class="form-group" style="margin-top:10px">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
<input id="phoneno" type="text" style="width:400px" class="form-control" name="password" placeholder="Phone Number"  required>
</div>
<div class="form-group" style="margin-top:10px">
<!-- <i class="alert alert-success">Blood Group :</i> -->
<select style="cursor:pointer;margin-top:20px;width:400px" class="form-control" selected="bloodgroup" required name="type" id="bloodgroup">
              <option value="" disabled selected>What is Your Blood Group?</option>
              <option class="form-control" name="mechanic" id="A" value="A">A</option>
	            <option name="electrician" id="B" value="B">B</option>
	            <option name="plumber" id="O" value="O">O</option>
	            <option name="photographer" id="AB" value="AB">AB</option>

</select>
</div>
<input type="hidden" id="finder-latlong" />
<button class="btn btn-info" style="margin-top:20px" onclick="createuser()" >Submit Details</button>
<div class="loader" id="signupalert" style="margin-top:100px;margin-bottom:100px"></div>

</center>
<script>
// Initialize Firebase

$("#signupalert").hide();

function createuser(){
  var username  =document.getElementById('username').value;
  var email     =document.getElementById('email').value;
  var password  =document.getElementById('password').value;
  var address   =document.getElementById('address').value;
  var phoneno   =document.getElementById('phoneno').value;
  var bloodgroup=document.getElementById('bloodgroup').value;
  function userposition(pos){
  		var lati=pos.coords.latitude;
  		var longi=pos.coords.longitude;
      var adduser=firebase.database().ref();
            var user={
              username:username,
              password:password,
              address:address,
              email:email,
              phoneno:phoneno,
              bloodgroup:bloodgroup,
              latitude:lati,
              longitude:longi

            }
            $("#signupalert").show();
            adduser.child("users").push().set(user).then(function(response){
              alert("SuccessFully Submitted Your Details");
              window.location="/";
            }).catch(function(){
              var errorMessage=error.message;
              console.log(errorMessage);
            });
          }


  	if(navigator.geolocation){
  		navigator.geolocation.getCurrentPosition(userposition);

    }
}


  </script>
