
<!DOCTYPE html>
  <html>
      <head>
        <title>Blood Donor Application</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
      <script>
        // Initialize Firebase
        var config = {
          apiKey: "AIzaSyBstq20vaaHs8DANRBIkbskHUHk-YWCDAo",
          authDomain: "blooddonorapp-262c1.firebaseapp.com",
          databaseURL: "https://blooddonorapp-262c1.firebaseio.com",
          projectId: "blooddonorapp-262c1",
          storageBucket: "",
          messagingSenderId: "253407415755"
        };
        firebase.initializeApp(config);
      </script>

      </head>
      <body>
        <style>
        .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
        </style>
      <center>
            <hr>
          <div id="index">
            <h1 style="margin-top:30px">Welcome to Blood Donor Application </h1>
            <hr>
            <p style="margin-top:40px"><strong>In this application you can find out the blood donors around you</strong> </p>
            <h3 class="alert alert-info" style="margin-top:40px;width:400px">You are here right now</h3>
            <div class="loader" id="loader" style="margin-top:200px;margin-bottom:200px"></div>
            <div id="mylocation">
            <iframe id="map" frameborder="0" style="border:0;height:500px;width:700px" src="" allowfullscreen></iframe></div>
            <div style="margin-top:20px">
              <a class="btn btn-lg btn-warning"    href="/login">Find a Donor</a>
              <a class="btn btn-lg btn-success" href="/donate-blood">Donate Your Blood</a>
            </div>
            <input type="hidden" id="finder-latlong" />
          </div>
        </center>
    </body>
    <footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </footer>
  </html>
