<style>
.loader {
border: 16px solid #f3f3f3; /* Light grey */
border-top: 16px solid #3498db; /* Blue */
border-radius: 50%;
width: 120px;
height: 120px;
animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
</style>
<center style="margin-top:50px">
<strong style="margin-top:30px;font-size:30px" class="alert alert-danger">Please Verify Yourself</strong>
<hr>
<div id="error" style="margin-top:30px"></div>
<div class="form-group" style="margin-top:20px">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input id="email" type="text" class="form-control" style="width:400px" name="email" placeholder="Email" required>
</div>

<div class="form-group" style="margin-top:10px">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input id="password" type="password" class="form-control" style="width:400px" name="password" placeholder="Password" required>
</div>
<button class="btn btn-lg btn-primary-outline" style="margin-top:20px" onclick="userlogin()" >Log In</button>
<div class="loader" id="pleasewait" style="margin-top:100px;margin-bottom:100px"></div>

<p style="margin-top:20px">Don't have account?<a  href="/users/signup" class="text text-success" >Sign Up</a></p>
</center>

<script>
$('#pleasewait').hide();
function userlogin()
{
  var email=document.getElementById('email').value;
  var password=document.getElementById("password").value;
  console.log(email,password);
  firebase.auth().signInWithEmailAndPassword(email,password).then(function(response){
    $("#pleasewait").show()
    window.location="/find-donors";
  }).catch(function(error){
    var errorCode = error.code;
    var errorMessage = error.message;
    var error=document.getElementById('error');
    error.innerHTML="<p class='alert alert-danger'>"+errorMessage+"</p>";

  })
}

</script>
