<center style="margin-top:50px">
<strong style="margin-top:30px;font-size:30px" class="alert alert-danger">Please Verify Yourself</strong>
<hr>
<div id="error" style="margin-top:30px"></div>
<div class="form-group" style="margin-top:20px">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input id="email" type="text" class="form-control" style="width:400px" name="email" placeholder="Email" required>
</div>

<div class="form-group" style="margin-top:10px">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input id="password" type="password" class="form-control" style="width:400px" name="password" placeholder="Password" required>
</div>
<button class="btn btn-lg btn-primary-outline" style="margin-top:20px" onclick="userlogin()" >Log In</button>
<alert class="alert alert-success" style="margin-top:20px;margin-left:20px;margin-top:15px" id="pleasewait">please wait.....</alert>
<p style="margin-top:20px">Don't have account?<a  href="/users/signup" class="text text-success" >Sign Up</a></p>
</center>

<script>
$('#pleasewait').hide();
function userlogin()
{
  var email=document.getElementById('email').value;
  var password=document.getElementById("password").value;
  console.log(email,password);
  firebase.auth().signInWithEmailAndPassword(email,password).then(function(response){
    $("#pleasewait").show()
    window.location="/find-donors";
  }).catch(function(error){
    var errorCode = error.code;
    var errorMessage = error.message;
    var error=document.getElementById('error');
    error.innerHTML="<p class='alert alert-danger'>"+errorMessage+"</p>";

  })
}

</script>
