<center><h1 style="margin-top:30px" class="alert alert-warning">Nearby Donors</h1>
<p><strong>What is Your Blood Group?</strong></p>
<select id="bloodgroup" class="form-control">
  <option value="A">A</option>
  <option value="B">B</option>
  <option value="O">O</option>
  <option value="AB">AB</option>
</select>
<button class="btn btn-info" style="margin-top:30px" >Find</button>
<div style="margin-top:30px" id="donors">
</div>
</center>
<script>
$(document).ready(function(){


})
</script>
