<center>
  <div class="container" style="margin-top:30px">
    <h1 class="alert alert-warning">Sign Up To Get Start</h1>
    <hr>
    <div id="error"></div>
    <div style="margin-top:50px">
    <input type="text" class="form-control" style="width:300px" id="username" placeholder="Username" required/><br>
    <input type="password" class="form-control" style="width:300px" id="password" placeholder="Password" required/><br>
    <input type="password" class="form-control" style="width:300px" id="cpassword" placeholder="Confirm Password" required/><br>
    <input type="email" class="form-control" style="width:300px" id="email" placeholder=" Email Address" required/><br>
    <button class="btn btn-info" onclick="signup()">Sign Up</button>
       <alert id="pleasewait" class="alert alert-info" style="margin-top:30px;margin-left:30px;font-size:20px">Signing Up.....</alert>
  </div>
  </div>
</center>
<script>
$("#pleasewait").hide();
 function signup()
 {
   var username=document.getElementById('username').value;
   var password=document.getElementById('password').value;
   var cpassword=document.getElementById('cpassword').value;
   var email=document.getElementById('email').value;
   if(password===cpassword)
   {

     firebase.auth().createUserWithEmailAndPassword(email,password).then(function(response){
       $("#pleasewait").show();
        var xhttp=new XMLHttpRequest();
        xhttp.open("GET","/signup",true);
     }).catch(function(error){
       var errorCode = error.code;
       var errorMessage = error.message;
       var error=document.getElementById('error');
       error.innerHTML="<p class='alert alert-danger'>"+errorMessage+"</p>";

     })
   }
   else if(password!==cpassword)
   {
     var error=document.getElementById('error');
     var errorMessage="Your Password Not Matched With Confirm Password";
     error.innerHTML="<p class='alert alert-danger'>"+errorMessage+"</p>";

   }
 }
</script>
