
<center style="margin-top:100px">
  <div class="container" id="bloodgroupdiv">
    <i class="alert alert-primary" style="font-size:30px">What is Your Blood Group?</i>
    <select id="bloodgroup" class="form-control" style="margin-top:30px">
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="O">O</option>
      <option value="AB">AB</option>
    </select>
    <button class="btn btn-info" style="margin-top:30px" id="findbtn">Find</button>
  </div>
  <center style="margin-top:30px"> <i class="alert alert-info" style="text-align:center;font-family:algerian;font-size:30px" id="pleasewait">Please Wait......</i></center>
  <div id="donors">
      <table class="table table-bordered table-hover table-striped" id="donors-data">
      <center><h1 style="margin-top:30px" class="alert alert-warning">Nearby Donors</h1>
      <!-- <th>Sr.No</th><th>Donor Name</th><th>Donor Address</th><th>Donor Mobile-Number</th><th>Donor Blood Group</th> -->
    </table>
  </div>
</center>
<script>
$(document).ready(function(){
  $("#pleasewait").hide();
    $("#donors").hide();
    $("#findbtn").click(function(){
      $("#pleasewait").show();
      var donorsdata=document.getElementById("donors-data");
      donorsdata.innerHTML="<th>Sr.No</th><th>Donor Name</th><th>Donor Address</th><th>Donor Mobile Number</th><th>Donor Blood-Group</th><br>"
      var firebaseref=firebase.database().ref("users");
      firebaseref.on("value",getresponse,geterror);
      function getresponse(response){
        var objects=response.val();
        var keys=Object.keys(objects);
        var bloodgroup=document.getElementById('bloodgroup').value;
        // console.log(bloodgroup);
        for(var i=0 ;i<keys.length ;i++){
              var t=keys[i];
              var dbloodgroup=objects[t].bloodgroup;
              var mobilenumber=objects[t].phoneno;
              var dname=objects[t].username;
              var daddress=objects[t].address;
              console.log(dbloodgroup);
              if(bloodgroup === "AB"){
                  $("#donors").show();
                donorsdata.innerHTML+="<td>"+i+"</td><td>"+dname+"</td><td>"+daddress+"</td><td>"+mobilenumber+"</td><td>"+dbloodgroup+"</td>";
                $("#pleasewait").hide();
              }
              else if(bloodgroup===dbloodgroup || dbloodgroup==="O")
              {
                  $("#donors").show();
                donorsdata.innerHTML+="<td>"+i+"</td><td>"+dname+"</td><td>"+daddress+"</td><td>"+mobilenumber+"</td><td>"+dbloodgroup+"</td>";
                $("#pleasewait").hide();
              }

            }
          }
      function geterror(error){
        var error=error.message;
        console.log(error);
      }

    })
})
</script>
